<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ajout espèce</title>
</head>
<body>
<h1>Ajout d'une nouvelle espèce</h1>

<form action="#" th:action="@{/ajoutEspece}" th:object="${poissonVO}" method="post">
    <p>Nom: <input type="text" th:field="*{espece}" /></p>
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Couleur: <input type="text" th:field="*{couleur}" /></p>
    <p>Prix: <input type="text" th:field="*{prix}" /></p>
    <p>Dimension(Lxl): <input type="text" th:field="*{dimension}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>

</html>